#root {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  background-color: lightcyan;
}

.logo {
  color: royalblue;
}

.box {
  display: block;
}

.activity {
  display: flex;
  width: 400px;
  height: 200px;
  justify-content: center;
  align-items: center;
  border: 1px solid royalblue;
  background-color: skyblue;
  color: royalblue;
}

.btn {
  margin-top: 10px;
  padding: 10px;
  border-color: royalblue;
  background-color: skyblue;
  color: royalblue;
}

.btn:hover {
  background-color: royalblue;
  color: lightcyan;
}
