#root {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  background-color: papayawhip;
}

.box {
  display: block;
  align-items: center;
  justify-content: center;
}

.activity {
  width: 400px;
  height: 200px;
  border: 1px solid black;
}

.btn {
  margin-top: 10px;
  padding: 10px;
  border-color: skyblue;
  background-color: skyblue;
  color: white;
}

.btn:hover {
  background-color: lightblue;
  color: white;
}
